@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  background-color: white;
}

#list {
  top: max(56px, 10vh);
  right: calc(52px + 2vw);
}

.btn {
  background-color: rgb(228, 241, 254);
}

::-webkit-scrollbar {
  position: relative;
  left: 20px;
  width: 5px;
  height: 5px;
  margin-left: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(242, 244, 247, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@layer base {
    @font-face {
        font-family: "Poppins";
        src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
        font-weight: 500;
      }
    @font-face {
        font-family: "Poppins";
        src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
        font-weight: 600;
      }
    @font-face {
        font-family: "Poppins";
        src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
        font-weight: 700;
      }
    @font-face {
        font-family: "Poppins";
        src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
        font-weight: 800;
      }
    
    @font-face {
        font-family: "Vazirmatn";
        src: url("../fonts/Vazirmatn/Vazirmatn-Regular.ttf") format("truetype");
        font-weight: 400;
      }

    @font-face {
        font-family: "Vazirmatn";
        src: url("../fonts/Vazirmatn/Vazirmatn-SemiBold.ttf") format("truetype");
        font-weight: 500;
      } 
      
    @font-face {
        font-family: "Vazirmatn";
        src: url("../fonts/Vazirmatn/Vazirmatn-Bold.ttf") format("truetype");
        font-weight: 600;
      }  
    

      * {
        font-family: Vazirmatn;
      }
}